<h1>Listing commandes</h1>

<table>
  <tr>
    <th>User</th>
    <th>Cour</th>
    <th>Done</th>
    <th>Number o pages</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @commandes.each do |commande| %>
  <tr>
    <td><%= commande.user.name %></td>
    <td><%= commande.cour.nom %></td>
    <td><%= commande.done %></td>
    <td><%= commande.number_o_pages %></td>
    <td><%= link_to 'Edit', edit_commande_path(commande) %></td>
    <td><%= link_to 'Destroy', commande, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Commande', new_commande_path %>
