<p id="notice"><%= notice %></p>


<ol class="breadcrumb">
  <li><%= link_to @matiere.annee.university.name, university_path(@matiere.annee.university) %></li>
  <li><%= link_to @matiere.annee.name, @matiere.annee %></li>
  <li><%= link_to @matiere.nom, @matiere %></li>
  <li>Cours</li>
</ol>

<table  class="table table-striped">
  <tr>
    <th>#</th>
    <th>Cour</th>
    <th>Nombre de pages</th>
    <th>Professeur</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% Cour.where('matiere_id = ?', @matiere.id).each do |cour| %>
  <tr>
    <td>#</td>
    <td><%= link_to cour.nom, cour %></td>
    <td>
      <%= cour.nombre %>
    </td>
    <td>

<!--        RGhost::Config::GS[:path]='/usr/local/Cellar/ghostscript/9.07/bin/gs' 

       RGhost::Convert.new('http://localhost:8080' + cour.fichier.url()).to :png, :filename => "../tmp/test.png"   #returns File  -->

    </td>
    <td>
      

    <%= form_for(Commande.new(params[:commande]), remote: true) do |f| %>

        <%= f.hidden_field :user_id, :value => current_user.id %>

        <%= f.hidden_field :cour_id, :value => cour.id %>

        <%= f.hidden_field :number_o_pages, :value => cour.nombre %>

        <input class="btn btn-default" name="commit" type="submit" value="Ajouter à La Commande" />

    <% end %>



    </td>
    <td><%= link_to "Apercu", "deft", :class => "btn btn-default" %></td>
  </tr>
<% end %>
</table>


<%= render 'matieres/commandes' %>

<div id="commandes_container">
  
</div>