
<div id="carousel-example-generic" class="carousel slide">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <%= image_tag "slider.jpg" %>
    </div>

    <div class="item">
      <%= image_tag "slider.jpg" %>
    </div>

    <div class="item">
      <%= image_tag "slider.jpg" %>
    </div>

    <div class="item">
      <%= image_tag "slider.jpg" %>
    </div>

    <div class="item">
      <%= image_tag "slider.jpg" %>
    </div>

  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
    <span class="icon-prev"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
    <span class="icon-next"></span>
  </a>
</div>



<div id="mainbigblock">
  
  <div id="leftblock">

    <div class="jumbotron">
        <h3>RENIMA.TN : Au-delà de l’impression, près de vos imaginations.</h3>

<p>Conçu pour vous, RENIMA.TN met à votre disposition un service complet. Où que vous soyez et avec une simple inscription profiter de tous les offres de FAC SERVICES MONASTIR.
Etudiant en pharmacie, médecine générale ou médecine dentaire, RENIMA.TN vous offre la possibilité d’accéder à tous les cours, les examens et les thèses.
Un simple clic vous permet de passer vos commandes et de profiter d’une réduction de 10 à 25%.
                Votre réussite c’est notre métier.</p>

    </div>

    <table  class="table table-striped">
      <tr>
        <th>#</th>
        <th>L'université</th>
        <th>Nombre de Niveaux</th>
      </tr>

    <% @universities.each do |university| %>
      <tr>
        <td>#</td>
        <td><%= link_to university.name, university_path(university) %></td>
        <td><%= Annee.where('university_id = ?', university.id).count %></td>
      </tr>
    <% end %>
    </table>    

  </div>

  <div id="rightblock">
    
    <div id="mybox">
      <%= image_tag "map.png" %>
    </div>

    <div id="address" class="box">
      <span class="glyphicon glyphicon-home"> </span>  Avenue Kadhi Iadh, R6, Manchester
    </div>

    

    <div id="address" class="box">
      <span class="glyphicon glyphicon-phone"> </span> Numero de téléphone : 98977051
    </div>

    

    <div id="address" class="box">
      <span class="glyphicon glyphicon-envelope"> </span>  <a href="mailto=aminerassas@hotmail.com">aminerassas@hotmail.com</a>
    </div>


  </div>
</div>



