<nav class="navbar navbar-default navbar-static-top" role="navigation">
	
	<!-- Brand and toggle get grouped for better mobile display -->
  	<div class="navbar-header">
	    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
	      <span class="sr-only">Toggle navigation</span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	    </button>
	    <%= link_to (image_tag 'logo.png'), root_path(), :class => "navbar-brand" %>
  	</div>

	
	<div class="collapse navbar-collapse navbar-ex1-collapse">
	  	<ul class="nav navbar-nav">
	      <li><%= link_to "Universités", universities_path() %></li>
	      <li><%= link_to "Communauté", parents_path() %></li>
	    </ul>

		<ul class="nav navbar-nav navbar-right">

			<% unless user_signed_in? %>
	      		<li><button type="button" class="btn btn-default navbar-btn" onclick="location.href='<%= register_path() %>'">M'enregistrer</button></li>

	      		<li>&nbsp;</li>

	      		<li><button type="button" class="btn btn-default navbar-btn" onclick="location.href='<%= login_path() %>'">Me Connecter</button></li>

		      	<% else %>
		      		<li class="dropdown">
				        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_user.name %> <b class="caret"></b></a>
				        <ul class="dropdown-menu">
				          <li><a href="#"><strong>Credit <%= credit = Credit.where('user_id = ?', current_user.id).sum('value') %> Millimes</strong></a></li>
				          <li><a href="<%= credits_path() %>"><strong>Mes Transactions</strong></a></li>
				          <li><a href="<%= commandes_path() %>"><strong>Mes Commandes</strong></a></li>
				        </ul>
				    </li>

				    <li>&nbsp;</li>

		      		<li><button type="button" class="btn btn-default navbar-btn" onclick="location.href='<%= logout_path() %>'">Se Deconnecter</button></li>
		    <% end %>

	      	<li>&nbsp;</li>



	    </ul>
   	</div>
</nav>