<!DOCTYPE html>
<html>
<head>
  <title>Rassas</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

<script type="text/javascript">
  	$(document).ready(function() {
    	$('.carousel').carousel({
      		interval: 4200
    	})
  	});
</script>

</head>
<body>

	<%= render "layouts/header.html.erb" %>
	
	<div class="container">
		<%= yield %>
	</div>

</body>
</html>
